body {
    --main-color: #501B1D;
    --background-color: #E5E5E5;
    --secondary-color: #ADADAD;

    width: 60em;
    margin: 1em auto;
    background-color: var(--main-color);
}

/*__________ default ________________________*/

.button {
    background-color: var(--secondary-color);
    color: black;
    border: 2px solid var(--main-color);
    padding: 1em 0em;
    text-align: center;
    margin-top: 1em;
    min-width: 20%;
    max-height: 3.5em;
}

p{
    word-break: normal;
}

/*__________ header _________________________*/

body > header {
    display: flex;
    padding: 1em;
    background-color: var(--secondary-color);
}

body > header * {
    color: var(--main-color);
}

body > header h1 {
    flex-grow: 1;
}

body > header form {
    display: grid;
    grid-template-columns: auto auto;
}

body > header form input {
    grid-column-end: span 2;
}

body > header form input#username-input {
    padding: 0.25em 0.5em;
}

body > header form input#password-input {
    padding: 0.25em 0.5em;
}

body > header form .label {
    grid-column-end: span 2;
}

body > header form #login-buttons {
    display: flex;
    gap: 5em;
    margin-top: 1em;
}

body > header form button {
    grid-column-end: span 2;
}

/*__________ retaurants ________________________*/

main {
    background-color: var(--main-color);
    color: var(--main-color);
}

main header {
    background-color: var(--background-color);
    padding: 0em 1em;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header h2 {
    align-self: center;
    flex-grow: 1;
}

main header div#search-form {
    height: fit-content;
    display: grid;
    grid-template-columns: 11.5em;
    grid-template-rows: 1.5em 2em;
    gap: 0.5em
}

main header div#search-form #search-restaurant {
    align-self: center;
    padding: 0.5em;
    margin: 0em;
    width: auto;
}

main header div#search-form #search-category {
    align-self: center;
    padding: 0.5em;
    margin: 0em;
    width: auto;
}

main article {
    background-color: var(--background-color);
    padding: 1em;
    margin: 2em 0em;
    width: auto;
    overflow: auto;
    word-break: break-all;
}

/*__________ retaurant _________________________*/

#main-restaurants {
    display: flex;
    flex-direction: column;
}

#restaurant {
    background-color: var(--background-color);
    padding: 1em;
    display: grid;
    grid-template-columns: auto 20%;
    margin-top: 5em;
}

#restaurant header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#restaurant p {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#add-to-favourites {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11em;
}

#add-to-favourites ion-icon {
    width: 2.5em;
    height: 2.5em;
}

#restaurant #edit-restaurant {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#restaurant #add-dish {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#restaurant #edit-info{
    align-self: end;
}

#restaurant #orders-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#restaurant footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#restaurant footer {
    margin-top: 2em;
}

#restaurant footer * {
    color: black;
}

#restaurants img {
    width: 40em;
    height: 20em;
}

.category {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    margin: 2em 0em;
}

#category-and-plates {
    color: black;
}

#category-and-plates h3{
    width:100%;
    padding: 0.5em;
    margin: 0em;
    font-size: 1.5em;
}

#category-and-plates article {
    width: 14em;
    height: auto;
    padding: 1em;
    margin: 0em 2em;
}

#category-and-plates article h4 {
    margin: 0em;
    font-size: 1.2em;
}

#category-and-plates article img {
    width: 14em;
}

.category .button {
    width: 100%;
}


#item-number {
    display: none;
}

.dishID {
    display: none;
}

.dish {
    display: flex;
    flex-direction: column;
}

.dish header {
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.dish header .button{
    width: auto !important;
    margin: 0;
}

/*__________ reviews ____________________________*/

#reviews {
    background-color: var(--background-color);
    color:black;
    padding: 0.5em;
    margin: 2em 0em;
}

.review {
    padding: 0em 1em;
    margin: 1em 0em;
    border: solid var(--main-color);
}

.review header {
    height: 3em;
    padding: 0;
}

.review header h4{
    padding: 0;
    margin: 0;
}

.review p {
    margin-left: 2em;
}

.review-response {
    margin: 0em;
    padding: 0em 1em;
}

.add-response {
    padding: 0;
}

#add-comment {
    margin-top: 3em;
}

#add-comment-form {
    display: grid;
}

#add-comment-form textarea {
    width: 75%;
}

.add-response-form {
    display: grid;
}

.add-response-form .submit {
    margin: 1em 0;
}

.add-response-form textarea {
    width: 75%;
}

/*__________ form _______________________________*/

main form {
    background-color: var(--background-color);
    padding: 1em;
}
main form p{
    margin: 0.5em 0.1em;
}

main input{
    width: 98%;
    padding: 12px 20px;
    margin: 0.7em 0.5em;
    box-sizing: border-box;
}

.submit {
    width: 30%;
    padding: 12px 20px;
    margin: 0.7em 0.5em;
    box-sizing: border-box;
}

/*__________ ordersUser _____________________________*/

#orders{
    background-color: var(--background-color);
    color:black;
    padding: 0.5em;
    margin: 2em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#orders h2 {
    width: 33%;
    text-align: center;
}

.order {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: solid var(--main-color);
    margin: 1em 0;
}

.order .orderNumber {
    margin-left: 1em;
}

.order .order-list {
    margin-left: 3em;
}

#user-order-button {
    grid-column-start: 1;
}

/*__________ ordersRestaurant _____________________*/

#ordersRestaurant{
    background-color: var(--background-color);
    color:black;
    padding: 0.5em;
    margin: 2em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#ordersRestaurant .order {
    justify-content: space-between;
}

#ordersRestaurant h2 {
    width: 25%;
    text-align: center;
}

#ordersRestaurant .order p {
    margin-left: 6em;
}

#ordersRestaurant .order .orderState {
    margin-right: 4em;
}

#ordersRestaurant .order form .button {
    margin: 1em 0;
}

/*__________ userInfo ___________________________*/

#userInfo {
    display: grid;
    grid-template-columns: 20% auto;
    background-color: var(--background-color);
    margin: 2em 0em;
    padding: 1em;
}

#restaurants li {
    padding: 0.3em;
}

#favourite-restaurants li {
    padding: 0.3em
}

/*__________ footer _____________________________*/

footer {
    padding: 1em;
    background-color: var(--secondary-color);
}

footer * {
    color: var(--main-color);
}

/*__________ cart _______________________________*/

#cart {
    display: none;
    background-color: var(--background-color);
    border: solid var(--main-color);
    grid-row: 2;
    grid-template-columns: auto auto;
    z-index: 999;
}

#cartbutton {
    width: 10em;
    grid-row: 1;
}

#cart-div {
    align-self: flex-end;
    display: grid;
    position: absolute;
    justify-items: end;
    
}

#cart-rows {
    grid-column: 1;
    grid-row: 1/200;
    margin: 0.5em;
}

#cart-total {
    grid-column: 2;
}

#cart form {
    grid-column: 2;
}
.cart-row {
    display: grid;
    grid-template-columns: 50% 50%;
}
.dishName {
    grid-column: 1/ span 2;
}

.item-price {
    grid-column: 1/ span 2;
}

.item-quantity {
    width: 60%;
}

#clear {
    width: 8em;
    padding: 1em;
    margin: 1em;
}

#purchase {
    width: 8em;
    display: flex;
    justify-content: center;
}

#cart form {
    padding: 0;
    margin-left: 0.4em;
}

/*__________ media queries _______________________________*/

@media (max-width: 768px) {  
    #restaurants img {
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    body {
        width: 35em;
    }

    .category {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .category h3 {
        grid-column: 1/ span 2;
    }

    .category .dish {
        width: auto !important;
    }

    .category .dish * {
        width: auto !important;
    }

    .order {
        width: 40em;
        justify-content: space-around;
    }

    .order * {
        width: 5em;
        margin: 0 0 0 0 !important;
    }

    .order p {
        text-align: center;
        align-self: center;
    }

    .item-dish {
        margin-top: 1em !important;
    }

    .order input {
        width: 7em;
    }

    .order select {
        width: 7em;
    }

    .order form {
        padding-right: 1.5em;
    }

}


@media (min-width:768px ) and (max-width:1020px){
    #restaurants img {
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    body {
        width: 50em;
    }

    .category {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .category h3 {
        grid-column: 1/ span 2;
    }

    .category .dish {
        width: auto !important;
    }

    .category .dish * {
        width: auto !important;
    }

    .order {
        width: 40em;
        justify-content: space-around;
    }

    .order * {
        width: 5em;
        margin: 0 0 0 0 !important;
    }

    .order p {
        text-align: center;
        align-self: center;
    }

    .item-dish {
        margin-top: 1em !important;
    }

    .order input {
        width: 7em;
    }

    .order select {
        width: 7em;
    }

    .order form {
        padding-right: 1.5em;
    }
}
