body {
    --main-color: #501B1D;
    --background-color: #E5E5E5;
    --secondary-color: #ADADAD;

    width: 60em;
    margin: 1em auto;
    background-color: var(--main-color);
}

/*__________ default ________________________*/

.button {
    background-color: var(--secondary-color);
    color: black;
    border: 2px solid var(--main-color);
    padding: 1em 0em;
    text-align: center;
    margin-top: 1em;
    min-width: 20%;
    max-height: 3.5em;
}

/*__________ header _________________________*/

body > header {
    display: flex;
    padding: 1em;
    background-color: var(--secondary-color);
}

body > header * {
    color: var(--main-color);
}

body > header h1 {
    flex-grow: 1;
}

body > header form {
    display: grid;
    grid-template-columns: auto auto;
}

body > header form input {
    grid-column-end: span 2;
}

body > header form input#username-input {
    padding: 0.25em 0.5em;
}

body > header form input#password-input {
    padding: 0.25em 0.5em;
}

body > header form .label {
    grid-column-end: span 2;
}

body > header form #login-buttons {
    display: flex;
    gap: 5em;
    margin-top: 1em;
}

body > header form button {
    grid-column-end: span 2;
}

/*__________ retaurants ________________________*/

main {
    background-color: var(--main-color);
    color: var(--main-color);
}

main header {
    background-color: var(--background-color);
    padding: 0em 1em;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header h2 {
    align-self: center;
    flex-grow: 1;
}

main header div#search-form {
    height: fit-content;
    display: grid;
    grid-template-columns: 11.5em;
    grid-template-rows: 1.5em 2em;
    gap: 0.5em
}

main header div#search-form #search-restaurant {
    align-self: center;
    padding: 0.5em;
    margin: 0em;
}

main header div#search-form #search-category {
    align-self: center;
    padding: 0.5em;
    margin: 0em;
}

main article {
    background-color: var(--background-color);
    padding: 1em;
    margin: 2em 0em;
    width: auto;
    overflow: auto;
    word-break: break-all;
}

#restaurants li {
    padding: 0.3em;
}

/*__________ retaurant _________________________*/

#restaurant {
    background-color: var(--background-color);
    padding: 1em;
    display: grid;
    grid-template-columns: auto 20%;
}

#restaurant header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#restaurant p {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#add-to-favourites {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11em;
}

#add-to-favourites ion-icon {
    width: 2.5em;
    height: 2.5em;
}

#restaurant #edit-restaurant {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#restaurant #add-dish {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#restaurant #orders-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#restaurant footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#restaurant footer {
    margin-top: 2em;
}

#restaurant footer * {
    color: black;
}

#restaurants img {
    width: 40em;
    height: 20em;
}

.category {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    margin: 2em 0em;
}

#category-and-plates {
    color: black;
}

#category-and-plates h3{
    width:100%;
    padding: 0.5em;
    margin: 0em;
}

#category-and-plates article {
    width: 14em;
    height: auto;
    padding: 1em;
    margin: 0em 2em;
}

#category-and-plates article h4 {
    margin: 0em;
}

#category-and-plates article img {
    width: 14em;
}

.category .button {
    width: 100%;
}

#cart {
    display: none;
}

#item-number {
    display: none;
}

.dishID {
    display: none;
}

/*__________ reviews ____________________________*/

#reviews {
    background-color: var(--background-color);
    color:black;
    padding: 0.5em;
    margin: 2em 0em;
}

.review {
    margin: 0em;
    padding: 0em 1em;
    margin: 1em 0em;
}

.review-response {
    margin: 0em;
    padding: 0em 1em;
}

#add-comment {
    margin-top: 3em;
}

#add-comment-form {
    display: grid;
}

#add-comment-form textarea {
    width: 75%;
}

#add-response-form {
    display: grid;
}

#add-response-form textarea {
    width: 75%;
}

/*__________ form _______________________________*/

main form {
    background-color: var(--background-color);
    padding: 1em;
}
main form p{
    margin: 0.5em 0.1em;
}

main input{
    width: 98%;
    padding: 12px 20px;
    margin: 0.7em 0.5em;
    box-sizing: border-box;
}

.submit {
    width: 30%;
    padding: 12px 20px;
    margin: 0.7em 0.5em;
    box-sizing: border-box;
}

/*__________ orders _____________________________*/

#orders{
    background-color: var(--background-color);
    color:black;
    padding: 0.5em;
    margin: 2em 0em;
    display: grid;
    grid-template-columns: 33% 33% 33%;

}

.orderNumber {
    padding: 0em 5em;
}

#user-order-button {
    grid-column-start: 1;
}

/*__________ ordersRestaurant _____________________*/

#ordersRestaurant{
    background-color: var(--background-color);
    color:black;
    padding: 0.5em;
    margin: 2em 0em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

#orderNumber {
    padding: 0em 5em;
}

/*__________ userInfo ___________________________*/

#userInfo {
    display: grid;
    grid-template-columns: 20% auto;
    background-color: var(--background-color);
    margin: 2em 0em;
    padding: 1em;
}

/*__________ footer _____________________________*/

footer {
    padding: 1em;
    background-color: var(--secondary-color);
}

footer * {
    color: var(--main-color);
}
